In [1]:
import nltk

In [2]:
from textblob import TextBlob

In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv('twitter_data.csv')
df.head()

          Hashtag                                              tweet
0  #climatechange  RT @susanjssm: Just watched @abcnews the impre...
1  #climatechange  So excited for this! While nuclear plants can ...
2  #climatechange  RT @climateguyw: #Parents please buy this book...
3  #climatechange  RT @FintechSIN: Singapore Fintech Festival 201...
4  #climatechange                 @AnthonyCole68 well prime minister

In [6]:
tweet1 = df['tweet']

In [ ]:
blob = TextBlob("")